body{
    margin: 0;
    /*Default Font*/
    font-family: 'Open sans', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}
header{
    position: sticky;
    top: 0;
    background-image: url("../images/bg-geometric.jpg");
    background-size: cover;
    background-position: center;
    padding: 4rem 0rem;
    text-align: center;
    color: white;
}
@media only screen and (max-width: 750px) {
    header{
        position: static;
    }
}
header img{
    display: block;
    text-align: center;
    margin: 2rem auto;
    margin-top: 0px;
}
header h1{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
header hr{
    border: 0;
    width: 30rem;
    max-width: 50%;
    height: 1px;
    background-color: white;
}
header p{
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
}
header .button{
    font-size: 1.25em;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
.flexboi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#curtain{
    /*height: 1000px;*/
    z-index: 1;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
.notwide{
    max-width: 800px;
    margin: 0 auto;
}
nav{
    background-color: #1e1e1e;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav a{
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #1e1e1e;
    transition: border-bottom 0.1s;
}
nav a.active{
    color: #DD7C10;
    border-bottom: 1px solid #DD7C10;
}
nav a:hover{
    border-bottom: 1px solid #FFF;
}
#nextmeeting{
    position: relative;
    /* margin: 2rem; */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
#nextmeeting .bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/bg-aud.jpg");
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}
#nextmeeting .content{
    color: white;
    background-color: rgba(221, 124, 16, 0.9);
    padding: 1rem 1rem;
}
#nextmeeting .pc{
    border: 1px solid white;
    padding: 0rem 5rem;
    margin-left: -5rem;
    max-width: 75%;
}
p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 2rem 0;
}
#nextmeeting .button{
    margin-top: 2rem;
    margin-left: 0;
    font-size: 1.25rem;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
#about{
    position: relative;
    padding: 1rem 1rem;
    color: #1e1e1e;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
#about h1{
    color: #10668b;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
#about hr{
    height: 1px;
    border: none;
    background-color: #10668b;
    width: 75%;
    /* margin: -1rem auto; */
}
a{
    color: #10668B;
    border-bottom: 1px solid #dd7c10;
    text-decoration: none;
}
#contact{
    color: white;
    overflow: auto;
    position: relative;
}
#contact .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-swoosh.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#contact .content{
    background-color: rgba(16, 102, 139, 0.8);
    /* overflow: auto; */
    padding: 2rem 1rem;
}
#contact hr{
    height: 1px;
    border: none;
    background-color: #fff;
    width: 75%;
}
#contact a:not(.button){
    color: #dd7c10;
}

/* The Email Form*/
#contact form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -1rem 0;
}
#contact form input{
  margin: 1rem;
  padding: 1rem 2rem;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  border-radius: 0.3em;
  border: 0.15em solid #1e1e1e;
  background-color: #FBFBFB;
  color: #1e1e1e;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}
#contact form input:focus, input:focus{
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  outline: none;

}
#contact form button{font-size: 1rem;}
#contact a.button{
  margin-left: 0;
}
footer{
    background-color: #1e1e1e;
    overflow:auto;
    color: white;
}
@media only screen and (max-width: 750px) {
  header h1{
    font-size: 3rem;
  }
  h1{
    font-size: 2rem;
  }
}
