body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding: 1rem;
  flex-grow: 1;
}
.button,
button,
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
  margin: 2rem 0;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 2rem 0;
}
hr {
  border: none;
  height: 1px;
  margin: -1 auto;
}
.notwide {
  max-width: 800px;
  margin: 0 auto;
}
.button,
button {
  margin: 1rem;
  padding: 1rem 2rem;
  display: inline-block;
  transition: color 0.25s ease, background-color 0.25s ease;
  letter-spacing: 0.5px;
  border-radius: 0.3em;
}
a.button {
  text-decoration: none;
}
.b_accent {
  border: 0.15em solid #DD7C10;
  background-color: #FAFAFA;
  color: #DD7C10;
}
.b_accent:hover {
  background-color: #DD7C10;
  color: #FAFAFA;
}
.b_base {
  border: 0.15em solid #10668B;
  background-color: #FAFAFA;
  color: #10668B;
}
.b_base:hover {
  background-color: #10668B;
  color: #FAFAFA;
}
.b_dark {
  border: 0.15em solid #1e1e1e;
  background-color: #FFFFFF;
  color: #1e1e1e;
}
.b_dark:hover {
  background-color: #1e1e1e;
  color: #FAFAFA;
}
footer {
  background-color: #1e1e1e;
  padding: 0.5rem 0;
}
footer .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.25rem;
}
footer .flex a {
  color: #43494D;
  margin: 0.25rem;
}
footer .flex #contact {
  color: #E9EBED;
}
footer p {
  color: #E9EBED;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
}
header {
  position: sticky;
  top: 0;
  background-color: #10668B;
  background-image: url("../images/bg-geometric.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 0rem;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 600px) {
  header {
    position: static;
  }
}
header img {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  header img {
    width: 6rem;
  }
}
header h1 {
  font-size: 4rem;
  text-shadow: 0px 1px 8px rgba(30, 30, 30, 0.2);
}
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 3rem;
  }
}
header hr {
  width: 30rem;
  max-width: 50%;
  background-color: #FFFFFF;
  display: none;
}
@media only screen and (max-width: 600px) {
  header hr {
    display: block;
  }
}
header .chaincontain {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  header .chaincontain {
    display: none;
  }
}
header .chaincontain .chain {
  display: flex;
  align-items: center;
}
header .chaincontain .chain .v {
  width: 32px;
  border: 3px solid white;
  height: 7px;
  display: inline-block;
  border-radius: 6px;
}
header .chaincontain .chain .h {
  display: inline-block;
  height: 1px;
  background-color: white;
  width: 32px;
  border: 1px solid white;
  margin: 0 -10px;
  border-radius: 4px;
}
header p {
  font-size: 1.75rem;
}
header a.button {
  font-size: 1.25em;
  box-shadow: 0px 0px 16px 0px rgba(30, 30, 30, 0.2);
}
main {
  position: relative;
  z-index: 1;
  padding: 0;
  box-shadow: 0px 0px 16px 0px rgba(30, 30, 30, 0.1);
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  nav {
    position: static;
  }
}
nav a {
  display: inline-block;
  margin: 0.5rem;
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid #1e1e1e;
  transition: border-bottom 0.1s;
}
nav a.active {
  color: #DD7C10;
  border-bottom: 1px solid #DD7C10;
}
nav a:hover {
  border-bottom: 1px solid #FFFFFF;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.content {
  padding: 1rem;
}
#nextmeeting {
  position: relative;
  box-shadow: 0px 0px 16px 0px rgba(30, 30, 30, 0.1);
}
#nextmeeting .bg {
  background-color: #DD7C10;
  background-image: url("/images/bg-aud/bg-aud-903.jpg");
}
@media only screen and (min-width: 904px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-995.jpg");
  }
}
@media only screen and (min-width: 996px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-1090.jpg");
  }
}
@media only screen and (min-width: 1091px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-1175.jpg");
  }
}
@media only screen and (min-width: 1176px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-1261.jpg");
  }
}
@media only screen and (min-width: 1262px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-1343.jpg");
  }
}
@media only screen and (min-width: 1344px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-1389.jpg");
  }
}
@media only screen and (min-width: 1390px) {
  #nextmeeting .bg {
    background-image: url("/images/bg-aud/bg-aud-1400.jpg");
  }
}
@media only screen and (min-width: 1401px) {
  #nextmeeting .bg {
    /* The following image is 3.3MB in size. */
    /* Don't load this on your data plan. */
    background-image: url("/images/bg-aud/bg-aud-6000.jpg");
  }
}
#nextmeeting .content {
  color: #FFFFFF;
  background-color: rgba(221, 124, 16, 0.9);
}
#nextmeeting .pc {
  border: 1px solid #FFFFFF;
  padding: 0rem 5rem;
  margin: 2rem 0 2rem -5rem;
  max-width: 75%;
}
#nextmeeting .button {
  font-size: 1.25rem;
  box-shadow: 0px 0px 16px 0px rgba(30, 30, 30, 0.2);
}
#about {
  position: relative;
  padding: 1rem;
  color: #1e1e1e;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 16px 0px rgba(30, 30, 30, 0.2);
}
#about h1 {
  color: #10668B;
}
#about hr {
  width: 75%;
  background-color: #10668B;
}
#about a {
  color: #10668B;
  border-bottom: 1px solid #DD7C10;
  text-decoration: none;
}
#contact {
  position: relative;
  color: white;
}
#contact .bg {
  background-color: #10668B;
  background-image: url("/images/bg-swoosh/bg-swoosh-925.jpg");
}
@media only screen and (min-width: 926px) {
  #contact .bg {
    background-image: url("/images/bg-swoosh/bg-swoosh-1091.jpg");
  }
}
@media only screen and (min-width: 1092px) {
  #contact .bg {
    background-image: url("/images/bg-swoosh/bg-swoosh-1252.jpg");
  }
}
@media only screen and (min-width: 1253px) {
  #contact .bg {
    background-image: url("/images/bg-swoosh/bg-swoosh-1394.jpg");
  }
}
@media only screen and (min-width: 1395px) {
  #contact .bg {
    background-image: url("/images/bg-swoosh/bg-swoosh-1400.jpg");
  }
}
@media only screen and (min-width: 1401px) {
  #contact .bg {
    background-image: url("/images/bg-swoosh/bg-swoosh-1920.jpg");
  }
}
#contact .content {
  background-color: rgba(16, 102, 139, 0.8);
  padding-bottom: 3rem;
}
#contact hr {
  width: 75%;
  background-color: #FFFFFF;
}
#contact a:not(.button) {
  color: #DD7C10;
}
#contact a.button {
  margin: 0 1rem 0 0;
}
section a.button {
  margin-left: 0;
}
footer {
  position: relative;
}
