body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding: 1rem;
  flex-grow: 1;
}
.button,
button,
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
  margin: 2rem 0;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 2rem 0;
}
hr {
  border: none;
  height: 1px;
  margin: -1 auto;
}
.notwide {
  max-width: 800px;
  margin: 0 auto;
}
.button,
button {
  margin: 1rem;
  padding: 1rem 2rem;
  display: inline-block;
  transition: color 0.25s ease, background-color 0.25s ease;
  letter-spacing: 0.5px;
  border-radius: 0.3em;
}
a.button {
  text-decoration: none;
}
.b_accent {
  border: 0.15em solid #DD7C10;
  background-color: #FAFAFA;
  color: #DD7C10;
}
.b_accent:hover {
  background-color: #DD7C10;
  color: #FAFAFA;
}
.b_base {
  border: 0.15em solid #10668B;
  background-color: #FAFAFA;
  color: #10668B;
}
.b_base:hover {
  background-color: #10668B;
  color: #FAFAFA;
}
.b_dark {
  border: 0.15em solid #1e1e1e;
  background-color: #FFFFFF;
  color: #1e1e1e;
}
.b_dark:hover {
  background-color: #1e1e1e;
  color: #FAFAFA;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-image: url("../../images/bg-geometric.jpg");
  background-position: center;
  background-size: cover;
}
header img {
  margin: 0.5rem 1rem;
  width: 4rem;
}
header h1 {
  margin: 0.5rem 1rem;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 8px rgba(30, 30, 30, 0.2);
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  nav {
    position: static;
  }
}
nav a {
  display: inline-block;
  margin: 0.5rem;
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid #1e1e1e;
  transition: border-bottom 0.1s;
}
nav a.active {
  color: #DD7C10;
  border-bottom: 1px solid #DD7C10;
}
nav a:hover {
  border-bottom: 1px solid #FFFFFF;
}
footer {
  background-color: #1e1e1e;
  padding: 0.5rem 0;
}
footer .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.25rem;
}
footer .flex a {
  color: #43494D;
  margin: 0.25rem;
}
footer .flex #contact {
  color: #E9EBED;
}
footer p {
  color: #E9EBED;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
}
h1 {
  color: #10668B;
}
hr {
  background-color: #10668B;
  margin: -1rem 1rem;
}
